PORT=9786
SITE_URL=http://localhost:9786/

JWT_KEY="Add your secret JTW key here"

MONGO_UR="String | Number"
MONGO_PWD="String | Number"
MONGO_HOST="String"
MONGO_DB=expoconnect

EMAIL_HOST="String"
EMAIL_PORT="Number"  # 465 = unsecure(implicit SSL) SMTP port , 587 = secure SMTP port
EMAIL_AUTH_USER="String"
EMAIL_AUTH_PASS="String"
EMAIL_FROM="String"

API_KEY="String"
AUTH_DOMAIN="String"
PROJECT_ID="String"
STORAGE_BUCKET="String"
MESSAGING_SENDER_ID="String"
APP_ID="String"
MEASUREMENT_ID="String"